*{
    font-family: 'Sriracha', cursive;
    background-image: url(https://bit.ly/398houT);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
nav li{
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    list-style: none;
    height:100px;
    color:black;

}
body{
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.one{
    font-size: 75px;
    text-align: center;
    margin-top:170px;
    margin-bottom: 100px;
    text-decoration: underline;
}
.two{
    text-align: center;
    font-size: 45px;
    color:black;
    font-weight: bolder;
}
.three{
    text-align: center;
    float:center;
    margin-left:300px;
    margin-top:150px;
}
#ten{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;

}
.four{
    text-align: center;
}
.five{
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    color:black;
    margin-top: 30px;
    margin-bottom: 70px;
}
.cat{
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}
/*#dog{
    color:white;*/
a{
    color:black;
}
.mouse{
    text-align: center;
    font-size: 65px;

}
#sat{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#love{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#lie{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#too{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#sing{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#eat{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#dance{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#sleep{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
}
#palace{
    margin-top:70px;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    color:black;
    height:100px;
    width:300px;
    font-size: 40px;
    margin-bottom: 70px;
    margin-left:370px;
    font-weight: 900;
    border:5px solid red;
}
#form{
    font-size: 40px;
    display:block;
    margin-bottom: 30px;
    text-align: center;
    margin-left:250px;
    background-color: red;
    font-weight: bold;
    border:5px solid red;
}
#form2{
    text-align: center;
    font-size:40px;
    display: block;
    margin-left:250px;
    margin-bottom:30px;
    background-color: red;
    font-weight: bold;
    border:5px solid red;
}
#form3{
    text-align: center;
    font-size:40px ;
    margin-left:250px;
    display: block;
    margin-bottom: 30px;
    background-color: red;
    font-weight: bold;
    border:5px solid red;
}
#form4{
    text-align: center;
    font-size: 40px;
    margin-left: 250px;
    display:block;
    margin-bottom:30px ;
    font-weight: bold;
    border:5px solid red;
}
#form5{
    text-align: center;
    font-size: 40px;
    margin-left: 250px;
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
    border:5px solid red;
}
#form6{
    text-align: center;
    font-size: 40px;
    margin-left:250px ;
    display: block;
    margin-bottom: 30px;
    font-weight: bold;
    border:5px solid red;
}
.Quantity{
    font-size: 40px;
    display: block;
    margin-bottom: 30px;
    background-color: white;
    height: 100px;
    width:170px;
    margin-left: 400px;
    font-weight: bold;
}
#home{
    margin-top:70px;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    color:black;
    height:100px;
    width:300px;
    font-size: 40px;
    margin-bottom: 70px;
    margin-left:370px;
    font-weight: 900;
    border:5px solid red;
}
#form10{
    display:none;
    background-color: red;
    font-size: 40px;
}
#quan{
    background-color: darkgrey;
    font-weight: bold;
}

