*{
    background-image:url(https://bit.ly/2I0KNey);
    font-family: 'Montserrat',;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    
}
nav li{
    text-align: center;
    list-style: none;
    font-size: 60px;
    color:black;
}
.one{
    font-size: 75px;
    text-align: center;
    margin-top:170px;
    margin-bottom: 100px;
}
.two{
    text-align: center;
    font-size: 45px;
    color:black;
    font-weight: bolder;
}
.three{
    text-align: center;
    float:center;
    margin-left:300px;
}
#ten{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
a{
    color:black;
}
.four{
    background-color: black;
    margin-left:300px;
    margin-bottom: 70px;
}
.five{
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    color:black;
    margin-top: 30px;
    margin-bottom: 70px;
}